{% extends 'base.html' %}

{% block title %}Category List{% endblock %}

{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Category Name</th>
            <th scope="col">Price(kg)</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.category_title }}</td>
            <td>{{ category.price_per_kilo }}</td>
            <td>
                <a href="{% url 'cargo_app:category-update' pk=category.pk %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'cargo_app:category-delete' pk=category.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<a href="{% url 'cargo_app:category-create' %}" class="btn btn-success mt-3">Add Category</a>
{% endblock %}